name: build
on:
  push:
    branches: [ master ]
jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu, windows]
    runs-on: ${{ matrix.os }}-latest

    steps:
    - uses: actions/checkout@v2
      with:
        repository: llvm/llvm-project
        ref: a2a4e5aae894e7d3912e05d28f0d5b23393cfbe9
        submodules: true
    - name: build
      shell: bash
      run: |
        root=$PWD
        mkdir build dist
        cd build
        cmake -DLLVM_ENABLE_PROJECTS='clang;clang-tools-extra' -DCMAKE_BUILD_TYPE=Release -DCMAKE_INSTALL_PREFIX=$root/dist ../llvm
        cmake --build .
        cmake --install .
    - name: upload
      uses: actions/upload-artifact@v2
      with:
        name: dist
        path: dist
    
